.login-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  gap: 10px; /* 버튼과 이미지 사이 간격 */
  padding: 20px;
  margin-right: 30px;
}

.login-btn,
.logout-btn {
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #9af6e0;
  color: black;
  cursor: pointer;
}

/* Ranking 컴포넌트 스타일 */
.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.0); /* 80% 축소 */
}

.ranking-container .title {
  text-align: center;
  margin-bottom: 16px;
}

.ranking-container .coin-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.ranking-container .coin-table th,
.ranking-container .coin-table td {
  padding: 8px;
  text-align: center;
}

.ranking-container .coin-table img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
